body {
    height: 300px;
}

.change_password {
    position: relative;
    padding: 10px 80px;
    justify-content: center;
}

    .change_password button {
        background-color: #ECAAC9;
        color: white;
    }

    .change_password .btnEdit {
        justify-content: right;
    }

    .change_password img {
        border-radius: 50%;
    }


button:focus {
    border-color: white;
    box-shadow: 0 0px 0px, 0 0 0px transparent;
    
}

button:hover {
    border-color: #F5B2D2;
    background-color: #F5B2D2;
    
}

@media(max-width:1000px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:800px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:600px) {
    .icon-menu {
        color: #17202A;
    }
}
